# SPDX-FileCopyrightText: 2025 Hilton Chain <hako@ultrarare.space>
#
# SPDX-License-Identifier: CC0-1.0

GUILE_LOAD_PATH="modules${GUILE_LOAD_PATH:+:}$GUILE_LOAD_PATH"
GUIX_PACKAGE_PATH="modules${GUIX_PACKAGE_PATH:+:}$GUIX_PACKAGE_PATH"
export GUILE_LOAD_PATH GUIX_PACKAGE_PATH
