;; What follows is a "manifest" equivalent to the command line you gave.
;; You can store it in a file that you may then pass to any 'guix' command
;; that accepts a '--manifest' (or '-m') option.

(specifications->manifest
  (list "emacs-pgtk"
        "emacs-corfu"
        "emacs-doom-modeline"
        "emacs-edit-indirect"
        "emacs-envrc"
        "emacs-evil"
        "emacs-fish-mode"
        "emacs-flycheck"
        "emacs-flycheck-guile"
        "emacs-forge"
        "emacs-gcmh"
        "emacs-geiser"
        "emacs-geiser-guile"
        "emacs-helpful"
        "emacs-hl-todo"
        "emacs-json-mode"
        "emacs-macrostep"
        "emacs-macrostep-geiser"
        "emacs-magit"
        "emacs-markdown-mode"
        "emacs-mwim"
        "emacs-no-littering"
        "emacs-orderless"
        "emacs-puni"
        "emacs-rainbow-delimiters"
        "emacs-vertico"
        "fontconfig"
        "font-adobe-source-serif"
        "font-google-noto-emoji"
        "font-sarasa-gothic"
        "font-victor-mono"))
