;;; -*- mode: scheme -*-

(use-modules (gnu packages))

(specifications->manifest
 '("emacs-pgtk"
   "emacs-corfu"
   "emacs-doom-modeline"
   "emacs-edit-indirect"                ;for emacs-markdown-mode.
   "emacs-envrc"
   "emacs-evil"
   "emacs-fish-mode"
   "emacs-flycheck"
   "emacs-flycheck-guile"
   "emacs-forge"
   "emacs-gcmh"
   "emacs-geiser"
   "emacs-geiser-guile"
   "emacs-helpful"
   "emacs-hl-todo"
   "emacs-json-mode"
   "emacs-macrostep"
   "emacs-macrostep-geiser"
   "emacs-magit"
   "emacs-markdown-mode"
   "emacs-mwim"
   "emacs-nftables-mode"
   "emacs-no-littering"
   "emacs-orderless"
   "emacs-puni"
   "emacs-rainbow-delimiters"
   "emacs-vertico"
   "fontconfig"
   "font-adobe-source-serif"
   "font-google-noto-emoji"
   "font-sarasa-gothic"
   "font-victor-mono"
   ))
